* {
    margin: 0;
    padding: 0;
    border: none;
}


/* Main content styling here */

/* Body background colour */
body {
    background-color: rgba(213, 216, 218, 0.8);


}

/* Font */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p {
    font-size: large;
}

/* Logo styling here */
#site-name {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 10px;
    padding: 50px;
    background-color: #282828;
}

header a {
    text-decoration: none;
    color: white;
}

header {
    background: #282828;
}

/* Nav bar styling here (some shade of red similar to scarlet */
.nav-bar {
    background-color: firebrick;
    text-align: center;
    height: 35px;
    letter-spacing: 5px;
    padding-top: 15px;
}

.nav-bar>li {
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: large;
}

/* Homepage styling here */

/* Banner styling here */
#title-image {
    height: 510px;
    width: 100%;
    background: url('../images/pokemon-titles.webp') no-repeat;
    background-size: cover;
}

/* Home page main text */

.head-box {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;

}

.head-box h1 {
    font-size: xx-large;
}

.head-box p {
    font-size: larger
}

#game-overview {
    position: relative;
    left: 50px;
    top: 30px;
}

.home-box {
    height: 350px;
    width: 500px;

}

/* Home page video */
#gameplay-trailer {
    position: relative;
    left: 800px;
    bottom: 180px;
}

.text-spacing {
    margin-top: 10px;
}

/* New Features Page styling here */

/* Version excluisve image */

#exclusive-pokemon {
    height: 600px;
}

#exclusive-text {
    padding-top: 30px;
    width: 45%;
    float: left;
}

#exclusive-image {
    background: url('../images/version-exclusives.webp') no-repeat;
    object-fit: cover;
    height: 650px;
    padding-top: 30px;
    width: 45%;
    float: right;
}


/* Review page styling here */

/* #game-colours {
    height: 300px;
    width: 100%;
    background: url(../images/scarlet-violet-colours.webp);
} */

/* Newsletter styling here */

/* Form styling here */

.form-space {
    background-color: teal;
    width: 100%;
    height: 290px;
}

/* Sign up form text */
.sign-up {
    padding: 25px;
}

.sign-up>h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.sign-up>h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.sign-up>p {
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    color: white;
}

/* Sign up Form and Buttons */

.text-input {
    color: #282828;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    left: 35px;
    top: 5px;
}

.letsgo-button {
    color: #282828;
    width: 7%;
    height: 24px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 570px;
    top: 15px;
    position: relative;
}

label h4 {
    position: relative;
    left: 35px;
}

fieldset {
    display: block;
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    padding-block-start: 0.35em;
    padding-inline-start: 1.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 1.625em;
    border: 3px solid black;
    font-weight: bold;
}

.newsletter-form {
    display: inline-block;
    width: 33%;
}

/* Events */
#events {
    padding-left: 25px;
}

#events li {
    list-style-type: none;
}

/* Raid Events Table */

#raid-table {
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    border: 1px solid black;
    padding: 7px;
}


/* DLC Banner and Youtube Video Link */

.review-box {
    height: 350px;
    width: 500px;

}

#dlc-overview {
    position: relative;
    left: 50px;
    top: 70px;
}

#dlc-trailer {
    position: relative;
    left: 750px;
    bottom: 180px;
}

#dlc-banner {
    background: url('../images/scarlet-violet-dlc.webp') no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    bottom: 100px;
    top: -1px;
}

/* Footer styling here (some shade of purple similar to violet) */

footer {
    height: 90px;
    background-color: blueviolet;
}

.social-media {
    background-color: blueviolet;
    text-align: center;
    height: 30px;
    letter-spacing: 3px;
    padding-top: 10px;
}

.social-media>li {
    color: white;
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.social-media a {
    text-decoration: none;
    color: white
}

.social-media-bottom {
    background-color: blueviolet;
    text-align: center;
    height: 30px;
    letter-spacing: 3px;
    padding-top: 10px;
    right: 20px;
}

.social-media-bottom>li {
    color: white;
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.social-media-bottom a {
    text-decoration: none;
    color: white
}

/* Media screen sizes */
/* @media screen and (max-width: 1200px) {
    .footer {
        width: 65%;
        height: 1200px;
        padding: 0;
    }
}

@media screen and (max-width: 950px) {
    .footer {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
/**/