body {
    background-color: #282828;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

/* Logo styling here */
#site-name {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

/* Nav bar styling here (shade of red similar to scarlet) */

.nav-bar {
    background-color: firebrick;
    text-align: center;
    height: 50px;
    letter-spacing: 5px;
    padding-top: 25px;
}

.nav-bar>li {
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* Home page styling here */

/* Banner styling here */
#title-image {
    background: url('../images/site-images/pokemon-titles.webp') no-repeat;
    background-size: cover;
}

/* Home page main text */
.head-box {
    text-align: center;
}

.head-box h2 {
    font-size: xx-large;
}

.head-box p {
    font-size: larger
}

.home-box {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

/* Home page Youtube Video */

.youtube-video {
    text-align: center;
}

iframe {
    border-radius: 5px;
}

/* Footer styling here (shade of purple similar to violet) */

footer {
    background-color: blueviolet;
    padding: 1px;
    text-align: center;
    letter-spacing: 2px;
}

.social-media {
    height: 30px;
    padding-top: 10px;
}

.social-media>li {
    color: white;
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.social-media a {
    text-decoration: none;
    color: white
}

.social-media-bottom {
    height: 30px;
    padding-top: 10px;
}

.social-media-bottom>li {
    color: white;
    display: inline;
    margin: 1%;
    list-style-type: none;
}

.social-media-bottom a {
    text-decoration: none;
    color: white
}

/* New Features Page */

/* Images */

/* Game map image */
#paldea-map {
    background: url('../images/site-images/paldea-map.webp') no-repeat;
}

/* Version excluisve image */
#exclusive-image {
    background: url('../images/site-images/version-exclusives.webp') no-repeat;
}

/* Review Page */

/* Images */

/* Starter Pokemon Image */
/* Screenshot of the three starter pokemon,
from the embedded youtube video in the home page  */

#starter-pokemon {
    background: url('../images/site-images/paldea-starters.webp') no-repeat;
}

/* In game screenshot of a Terastalised Tauros in battle */

#tauros-image {
    background: url('../images/site-images/tauros-battle.webp') no-repeat;
    position: relative;
}

/* Newsletter styling */

/* Form styling here */

.form-space {
    background-color: teal;
}

/* Images */

/* Chesnaught raid main screen */
#chesnaught-raid {
    background: url('../images/site-images/chesnaught-raid.webp') no-repeat;
}

/* In game screenshot of Appletun used for the Chesnaught raid */
#appletun {
    background: url('../images/site-images/appletun-build.webp') no-repeat;
}

/* In game screenshot of the caught Chesnaught the Unrivaled */
#chesnaught-unrivaled {
    background: url('../images/site-images/chesnaught-unrivaled.webp') no-repeat;
}

.whats-next {
    position: relative;
    bottom: 350px;
}

/* Base code for Table CSS used from HTML Essentials HTML Tables Challenge */

fieldset {
    display: block;
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    padding-block-start: 0.35em;
    padding-inline-start: 1.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 1.625em;
    border: 3px solid black;
    font-weight: bold;
}

.newsletter-form {
    display: inline-block;
    width: 33%;
}

/* Events */
#events {
    padding-left: 25px;
}

#events li {
    list-style-type: none;
}

/* Raid Events Table */
/* Events table styling used from Code Institute HTML Essentials Tables Challenge */

#raid-table {
    text-align: center;
    position: relative;
    bottom: 300px;
}

table {
    width: 70%;
    margin: 0 auto;
    background-color: #f2f2f9;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    border: 1px solid black;
    padding: 7px;
}

.dlc-box {
    position: relative;
    bottom: 200px;
}

#dlc-trailer {
    position: relative;
    bottom: 85px;
}

/* Media Queries */

/* High-Res Laptop or Desktop Screens 1920px and below */
@media screen and (max-width:1920px) {

    /*Home page */

    /* Banner image */
    #title-image {
        height: 60vh;
        width: 100%;
        margin-top: -16px;
    }

    .head-box h2 {
        font-size: 3rem;
    }

    .head-box p {
        font-size: 1.7rem;
        letter-spacing: 1px;
    }

    .main-text {
        font-size: 1.5rem;
        padding: 1px;
        margin: 5px;
        letter-spacing: 1px;
    }

    /* Inserted youtube video */
    iframe {
        width: 925px;
        height: 500px;
    }

    footer {
        font-size: 1.5rem;
    }

    /* Features page */

    /* Game map image */
    #paldea-map {
        background-size: 700px;
        position: relative;
        left: 500px;
        width: 50%;
    }

    /* Version excluisve image */
    #exclusive-text-middle {
        width: 60%;
    }

    #exclusive-text-bottom {
        width: 60%;
    }

    #exclusive-image {
        height: 650px;
        width: 30%;
        float: right;
        position: relative;
        bottom: 400px;
    }

    /* Review page styling */

    /* Starter Pokemon Image */
    #starter-pokemon {
        position: relative;
        height: 25rem;
        left: 500px;
        width: 40%;
    }

    .tauros-box {
        position: relative;
        left: 730px;
        width: 60%;
    }

    .tauros-text {
        bottom: 300px;
    }

    #tauros-image {
        height: 375px;
        left: 20px;
        top: 100px;
        background-size: cover;
        width: 35%;
    }

    #end-content {
        position: relative;
        bottom: 125px;
    }

    /* Newsletter styling */

    /* Form styling */
    /* Sign up form text */

    .sign-up {
        padding: 25px;
        margin-bottom: 15px;
    }

    .sign-up>h2 {
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: xx-large;
    }

    .sign-up>h3 {
        text-align: center;
        color: white;
    }

    .sign-up>p {
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        color: white;
    }

    /* Sign up Form and Buttons */

    .text-input {
        color: #282828;
        width: 50%;
        height: 25px;
        border: 2px solid black;
        border-radius: 5px;
        position: relative;
        left: 35px;
        top: 5px;
    }

    .letsgo-button {
        color: #282828;
        width: 7%;
        height: 24px;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 570px;
    }

    label h4 {
        position: relative;
        left: 35px;
    }

    .radio-button {
        margin-top: 15px;
        margin-left: 40px;
    }

    /* In game screenshots */
    .screenshot {
        height: 25rem;
    }

    #chesnaught-raid {
        position: relative;
        left: 500px;
        width: 40%;
        margin-top: 35px;
    }

    /* In game screenshot of Appletun used for the Chesnaught raid */
    #appletun {
        position: relative;
        top: 35px;
        left: 250px;
        width: 35%;
    }

    /* In game screenshot of the caught Chesnaught the Unrivaled */
    #chesnaught-unrivaled {
        position: relative;
        left: 990px;
        bottom: 365px;
        width: 35%;
    }
}

@media screen and (max-width:1536px) {

    #title-image {
        height: 76vh;
        width: 100%;
        margin-top: -16px;
    }

    #paldea-map {
        left: 345px;
    }

    #starter-pokemon {
        left: 355px;
        width: 51%;
    }

    .tauros-box {
        left: 720px;
        width: 52%;
    }

    #tauros-image {
        left: 20px;
        width: 44%;
    }

    #end-content {
        bottom: 270px;
    }

    #chesnaught-raid {
        left: 420px;
        width: 43%;
    }

    #appletun {
        left: 50px;
        width: 44%;
    }

    #chesnaught-unrivaled {
        left: 780px;
        width: 44%;
    }
}

@media screen and (max-width:1440px) {

    /* Home page */
    /* Banner image */
    #title-image {
        height: 54vh;
    }

    /* New Features Page */
    /* Game Map image */
    #paldea-map {
        left: 340px;
    }

    /* Review Page */
    /* Starter Pokemon image */
    #starter-pokemon {
        left: 330px;
        width: 55%;
    }

    #tauros-image {
        left: 5px;
        width: 47%
    }

    .tauros-box {
        left: 690px;
        width: 50%;
    }

    /* Newsletter Page */

    /* Chesnaught Raid Screenshot */
    #chesnaught-raid {
        left: 345px;
        width: 46%;
    }

    /* Appletun image screenshot */
    #appletun {
        left: 0px;
        width: 47%;
    }

    /* Chesnaught the Unrivaled image */
    #chesnaught-unrivaled {
        left: 700px;
        width: 47%;
    }
}

@media screen and (max-width:1280px) {

    /* New Features Page */
    /* Game Map Image */
    #paldea-map {
        left: 275px;
        width: 57%;
    }

    /* Exclusive Pokemon List Image */
    #exclusive-image {
        width: 35%;
    }

    /* Review Page */
    #starter-pokemon {
        left: 245px;
        width: 61%;
    }

    /* Tauros image and side text content */

    #tauros-image {
        left: 0px;
        width: 53%;
    }

    .tauros-box {
        left: 680px;
        width: 45%;
    }

    /* Newsletter Page */

    /* Chesnaught Raid Screenshot */
    #chesnaught-raid {
        left: 290px;
        width: 52%;
    }

    /* Appletun image screenshot */
    #appletun {
        left: 285px;
        width: 53%;
    }

    /* Chesnaught the Unrivaled image */
    #chesnaught-unrivaled {
        left: 285px;
        width: 53%;
        bottom: 0px;
    }

    .whats-next {
        bottom: 0px;
    }

    #raid-table {
        bottom: 0px;
    }

    /* DLC Preview text & Youtube video trailer */
    .dlc-box {
        bottom: 0px;
    }

    #dlc-trailer {
        top: 0px;
    }
}

@media screen and (max-width:1024px) {

    /* Site Name */

    #site-name {
        font-size: 3rem;
    }

    /* Home Page */

    /* Banner Image */
    #title-image {
        height: 25vh;
    }

    .nav-bar>li {
        margin: 3%;
    }

    .main-text {
        font-size: 1.2rem;
    }

    iframe {
        width: 50vw;
        height: 21vh;
    }

    footer {
        font-size: 1.2rem;
    }

    /* New Features Page */

    #paldea-map {
        left: 140px;
        width: 71%;
    }

    #exclusive-text-middle {
        width: 55%;
    }

    #exclusive-image {
        width: 39%;
    }

    #exclusive-text-bottom {
        width: 55%;
    }

    /* Review Page */

    .review-page {
        height: 300vh;
    }

    #starter-pokemon {
        left: 115px;
        width: 77%;
    }

    #tauros-image {
        left: 180px;
        width: 66%;
        top: 40px;
    }

    .tauros-box {
        left: 0px;
        width: 100%;
        top: 100px;
    }

    #end-content {
        top: 100px;
    }

    /* Newsletter Page */

    #chesnaught-raid {
        left: 157px;
        width: 66%;
    }

    #appletun {
        left: 157px;
        width: 67%;
    }

    #chesnaught-unrivaled {
        left: 157px;
        width: 67%;
    }
}

@media screen and (max-width:810px) {

    /* Home Page */

    #site-name {
        font-size: 2rem;
    }

    .nav-bar {
        letter-spacing: 4px;
    }

    .home-box h3 {
        font-size: 1.5rem;
    }

    .nav-bar a {
        font-size: 1.3rem;
    }

    .head-box h2 {
        font-size: 1.8rem;
    }

    .head-box p {
        font-size: 1.4rem;
    }

    .main-text {
        font-size: 1.1rem;
    }

    /* New Features Page */

    #paldea-map {
        left: 45px;
        width: 90%;
    }

    #exclusive-text-middle {
        width: 100%;
    }

    #exclusive-text-bottom {
        width: 40%;
    }

    #exclusive-image {
        width: 50%;
        bottom: 15px;
    }

    /* Review Page */

    #starter-pokemon {
        left: 12px;
        width: 99%;
    }

    #tauros-image {
        left: 75px;
        width: 84%;
    }

    .review-page {
        height: 390vh;
    }

    /* Newsletter Page */

    fieldset {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .text-input {
        top: 0px;
        left: 30px;
        width: 80%;
    }

    .letsgo-button {
        height: 45px
    }

    #chesnaught-raid {
        left: 55px;
        width: 84%;
    }

    #appletun {
        left: 55px;
        width: 85%;
    }

    #chesnaught-unrivaled {
        left: 55px;
        width: 85%;
    }
}

@media screen and (max-width: 428px) {

    /* Site Name */

    #site-name {
        text-align: center;
        padding: 0px;
    }

    /* Home Page */

    .nav-bar {
        letter-spacing: 0px;
        height: 40px;
        padding-top: 20px;
        text-align: start;
    }

    .nav-bar>li {
        margin: 2%;
    }

    .nav-bar a {
        font-size: 1.1rem;
    }

    #title-image {
        height: 15vh;
    }

    .head-box h2 {
        font-size: 1.5rem;
    }

    .head-box p {
        font-size: 1.2rem;
    }

    .main-text h3 {
        font-size: 1.3rem;
    }

    .main-text {
        font-size: 1rem;
    }

    iframe {
        width: 81vw;
    }

    /* Features Page */

    #paldea-map {
        height: 0px;
    }

    #exclusive-image {
        width: 99%;
        bottom: 10px;
    }

    #exclusive-text-bottom {
        width: 100%;
    }

    /* Review Page */

    .main-text h3 {
        font-size: 1.1rem;
    }

    #starter-pokemon {
        height: 0px;
    }

    #tauros-image {
        height: 0px;
    }

    .tauros-box {
        top: -10px;
    }

    #end-content {
        top: 0px;
    }

    .review-page {
        height: 515vh;
    }

    /* Newsletter Page */

    .sign-up {
        padding: 5px;
    }

    .sign-up>h3 {
        font-size: 1.2rem;
    }

    .sign-up>p {
        font-size: 1rem;
    }

    .newsletter-form {
        width: 95%;
    }

    .letsgo-button {
        width: 15%;
        margin-left: 325px;
    }

    #events {
        padding-left: 0px;
    }

    .main-text h3 {
        font-size: 1rem;
    }

    #chesnaught-raid {
        height: 0px;
        margin-top: -10px;
    }

    #appletun {
        height: 0px;
    }

    #chesnaught-unrivaled {
        height: 0px;
    }

    footer {
        font-size: 1rem;
        height: 14vh;
    }

    .social-media {
        padding-top: 0px;
    }

    .social-media>li {
        display: block;
        margin: 2%;
    }

    .social-media-bottom>li {
        display: block;
        margin: 2%;
    }
}

;

;